<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow rounded-bottom mb-4 px-2">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">WiTodo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">

          <a class="nav-link px-3 rounded-pill mx-1" routerLink="/" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 rounded-pill mx-1" routerLink="/calendar" routerLinkActive="active">Calendrier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 rounded-pill mx-1" routerLink="/todo-list" routerLinkActive="active">Todo List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 rounded-pill mx-1" routerLink="/about" routerLinkActive="active">À propos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="mt-5 py-3 bg-light text-center">
  <div class="container">
    <span class="text-muted">© 2025 WiTodo</span>
  </div>
</footer>